<h1>New Article</h1>

<%# Using Partials to Share View Code %>
<%= render "form", article: @article %>

<%# We will use a feature of Rails called a form builder to create our form. Using a form builder, we can write a minimal amount of code to output a form that is fully configured and follows Rails conventions. The form_with helper method instantiates a form builder. %>

<%# With our validations in place, let's modify app/views/articles/new.html.erb to display any error messages for title and body %>

<%# When we visit http://localhost:3000/articles/new, the GET /articles/new request is mapped to the new action. The new action does not attempt to save @article. Therefore, validations are not checked, and there will be no error messages.

When we submit the form, the POST /articles request is mapped to the create action. The create action does attempt to save @article. Therefore, validations are checked. If any validation fails, @article will not be saved, and app/views/articles/new.html.erb will be rendered with error messages. %>
